<li class="collection-item dismissable" data-link="<%= list.id %>">
  <div class="list">
    <div class="col s12">  
      <p class="agency"> <%= list.agency %> </p>   
    </div>
    <div class="col s12">   
      <p class="truncate title"><%= list.title %></p> 
    </div>
    <div class="col s6">
      <p class="day"><%= list.duration %> Days</p>
    </div>
    <div class="col s6">
      <p class="price">from $<%= list.price %></p>
    </div>
    <div class="col s12">    
      <p class="truncate description"><%= list.description %></p>
    </div>
    <span href="#!" class="secondary-content remove"><i class="fa fa-times"></i></span>
  </div>
</li>

