<li class="collection-item dismissable" data-link="<%= list.id %>">
  <div class="list">
    <p class="day"><%= list.title.split(" ").first %></p>
    <p class="truncate title"><%= list.title %></p>
    <p class="price">$<%= list.price %></p>
    <p class="truncate description"><%= list.description %></p>
    <span href="#!" class="secondary-content remove"><i class="fa fa-times"></i></span>
  </div>
</li>

