<style>
p, h3, th, td {
  text-align: center;
}
table {
  /*table-layout: fixed;*/
}
table .properties {
  width: 100px;
  font-weight: bold;
}
h3 {
  color: #ee6e73;
}
.empty {
  height: 285px;
}
.add-margin {
  margin-top: 50px;
}
img {
  max-height: 200px;
}
</style>

<div class="row">
  <h3> Compare </h3>

  <% if @shortlist.blank? %>
    <div class="empty">
      <p class="add-margin"> Nothing to compare. Emo......... </p>
      <p>
        <%= image_tag "sadcat.jpg" %>
      </p>
    </div>
  <% else %>
    <table class="bordered hoverable striped responsive-table">
      <thead>
        <tr>
          <th class="properties"></th>
          <% @shortlist.each do |list| %>
            <th> <%= list.title %> </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="properties"> Agency </td>
          <% @shortlist.each do |list| %>
            <td> Agency </td>
          <% end %>
        </tr>
        <tr>
          <td class="properties"> Price </td>
          <% @shortlist.each do |list| %>
            <td> <%= list.price %> </td>
          <% end %>
        </tr>
        <tr>
          <td class="properties"> Days </td>
          <% @shortlist.each do |list| %>
            <td> <%= list.title.split(" ").first %> </td>
          <% end %>
        </tr>
        <tr>
          <td class="properties"> Description </td>
          <% @shortlist.each do |list| %>
            <td> <%= list.description %> </td>
          <% end %>
        </tr>
        <tr>
          <td class="properties"> Brochure </td>
          <% @shortlist.each do |list| %>
            <td> Brochure link </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>

</div>